{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Project Gallery!</title>

  <!-- bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <!-- Bootstrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <!-- Swipe Card Feature -->
  <link rel="stylesheet" href="{%static "projectgallery/css/tinder.css"%}">
  {% comment %}
  <link rel="stylesheet" href="{%static "projectgallery/css/tinder2.css"%}"> {% endcomment %}
  <!-- Normalize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="{%static "common/css/style.css"%}">
  <link rel="stylesheet" href="{%static "projectgallery/css/style3.css"%}">
  <link rel="stylesheet" href="{%static "projectgallery/css/jquery.hislide.css"%}">
  <style>
	  
		  .first3-img{
		  	height: 3rem;
		  }
	  
	</style>
</head>

<body>
  <div class="px-4">
    {% include 'includes/nav.html' %}
  </div>

  <div id="heading">
    <div class="row p-3 m-3">
      <h1 class="h1 display-1">Project Gallery</h1>
    </div>
  </div>

  <div id="first" class="container-fluid mb-5">
    <!-- slide iamge section start -->
    <div class="row">
      <div id="carouselVideos" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for video in videos %}
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <div class="embed-responsive">
              <video style="height:60vh;" class="embed-responsive-item" src="/media/{{video.video}}" controls></video>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev bg-peach" type="button" data-bs-target="#carouselVideos "
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next bg-peach" type="button" data-bs-target="#carouselVideos "
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>

  <!-- Professinal Designers start -->
	
	
	<!--the old class name of the below is first2-->
  <div style="background-color:#BCBCBC" id="">
    <div class="bg-graphics-container">
      <img class="top-left" src="{%static "/projectgallery/img/Group 15.svg"%}" alt="">
      <img class="top-right" src="{%static "/projectgallery/img/Doodle Dots.svg"%}" alt="">
      <img class="bottom-left" src="{%static "/projectgallery/img/Doodle Dots 2.svg"%}" alt="">
      <img class="middle-left" src="{%static "/projectgallery/img/Group 14.svg"%}" alt="">
    </div>
    <div class="row justify-content-center p-5 g-5 text-white">
      <div class="col-lg-5 col-12">
        <h3 class="h3 my-lg-3 my-5">
          Creative Solution provided By <br />
          KitchenDotCom
        </h3>
        <p class="lead my-3">
          We, at KitchenDotCom, seek to provide effective and sustainable solutions to our clients. The multi-usable
          units provided by us, are boon for those having space constraints. The special 3-D walkthrough provided by
          us gives the client to have an outlook of the kitchen before it is prepared. We provide you with detachable
          units that can be repaired and cleaned separately without altering the whole kitchen. Effective consultation
          at every step of designing eliminates any kind of mismatch between the clients’ expectations and the final
          outcome.
        </p>
      </div>
      <div class="col-lg-5 col-12">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% comment %} <div class="carousel-item active">
              <img src="{% static "/projectgallery/img/proDes1.webp" %}" class="img-fluid w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static "/projectgallery/img/proDes1.webp" %}" class="img-fluid w-100" alt="..." />
            </div> {% endcomment %}
            {% for design in designs %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img src="/media/{{design.image}}" class="img-fluid w-100" alt="..." />
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev bg-peach" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next bg-peach" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <div id="first3">
    <div class="row justify-content-center p-3 g-3">
      <div class="col-12 justify-content-start">
        <h3 class="h1 text-dark ps-5">
          We'll let our clients do the talking
        </h3>
        <h4 class="text-dark ps-5 py-3">Here’s what they have to say</h4>
      </div>

      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {% for feedback in feedbacks %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
            class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
          {% endfor %}
          {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          {% endcomment %}
        </div>
        <div class="carousel-inner">

          {% for feedback in feedbacks %}
          <div class="carousel-item {% if forloop.first %} active {% endif %} ">
            <div class="row justify-content-center p-3 g-3 px-5">
              <div class="
                      offset-lg-1
                      col-lg-6 col-12
                      text-center
                      my-lg-5
                      my-3
                    ">
                <video class="img-fluid embed-responsive" controls src="/media/{{feedback.video}}"></video>
              </div>
              <div class="col-lg-5 col-sm-12 border-teal">
                <div class="text-center p-lg-5 py-5">
					<div class="d-flex align-items-center justify-content-center">
						<img src="/media/{{feedback.image}}" class="first3-img img-fluid rounded rounded-circle m-1" alt="User" />
						<h3 class="h3 text-teal py-3 my-3">
							{{feedback.project_name}} <br />
						</h3>
					</div>
                  <p class="lead py-3 my-3">
                    {{feedback.feedback}}
                  </p>
                  <p class="text-teal h3">{{feedback.user_name}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          {% comment %} <div class="carousel-item active">
            <div class="row justify-content-center p-3 m-3 g-3 px-5">
              <div class="
                      offset-lg-1
                      col-lg-6 col-12
                      text-center
                      py-lg-5
                      my-lg-5
                      py-3
                      my-3
                    ">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="h-100 w-100"></iframe>
              </div>

              <div class="col-lg-5 col-sm-12 border-teal">
                <div class="text-center p-lg-5 mx-lg-5 py-5">
                  <img src="{%static "/projectgallery/img/user1.jpg"%}" class="rounded rounded-circle" alt="User" />
                  <h3 class="h3 text-teal py-3 my-3">
                    Modern Kitchen <br />
                  </h3>
                  <p class="lead py-3 my-3">
                    <b>Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Dui pretium interdum sagittis sagittis faucibus.
                      Et sit viverra pellentesque nulla ipsum. Eu, cursus
                      pellentesque nunc proin urna justo est dignissim.
                      Aliquet et cursus aliquet feugiat rhoncus, nunc et id.
                      At pellentesque est nibh ultricies arcu in. Quis
                      lectus arcu dictum mi. Commodo.</b>
                  </p>
                  <p class="text-teal h3">- User 1</p>
                </div>
              </div>
            </div>
            </div< {% endcomment %} </div> <button class="carousel-control-prev" type="button"
              data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Second Page -->
      <!-- <div id="second"> -->

      {% comment %} <div id="jhu">
        <h1 class="h2 p-3 m-3 py-5 my-5 text-teal"><b>Ongoing Projects</b></h1>

        <div id="carouselExampleIndicators3" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for project in ongoing_projects %}
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="{{forloop.counter0}}"
              class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for project in ongoing_projects %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <div class="row justify-content-center p-3 m-3 g-5">
                <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                  <div class="tinder">
                    <div class="tinder--cards">
                      {% for post in project.postimage_set.all %}
                      <div class="tinder--card">
                        <img class="img-fluid" src="/media/{{post.image}}" />
                        <h3>{{post.site}}</h3>
                        <p>{{post.date}}</p>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="offset-lg-1 col-lg-5 col-12">
                  <a href="{% url 'projectDetails' project.id %}">
                    <h1 class="h1 text-capitalize CH">{{project.name}}</h1>
                  </a>
                  <div class="badge text-wrap">
                    <p class="lead CP">{{project.tagline}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div> {% endcomment %}
      <!-- last section -->

      <div id="second2">
        <div class="row py-3">
          <div class="ps-5">
            <h1 class="h2 text-dark fw-bold">
              We build more Projects Successfully
            </h1>
          </div>
        </div>

        <!-- <div id="last1">
        <img src="./img/Rectangle 198.webp" class="rounded float" alt="..." style="width: 385px; height: 400px; margin-left:70px; margin-bottom: 50px;">
        <img src="./img/Rectangle 199.webp" class="rounded float" alt="..." style="width: 385px; height: 400px; margin-left:70px; margin-bottom: 50px;">
        <img src="./img/Rectangle 200.webp" class="rounded float" alt="..." style="width: 385px; height: 400px; margin-left:70px; margin-bottom: 50px;">
      </div> -->

        <div class="row justify-content-center p-3 m-3 py-5">
          <div class="col-lg-12 col-12">
            <div id="carouselExampleIndicators2" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-inner text-center">
                {% for complete_project in complete_projects %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <div class="row justify-content-center g-3">
                    {% for itr_project in complete_project %}
                    <div class="col-4">
                      <a href="{% url 'projectDetails' itr_project.id %}">
                        <img src="/media/{{itr_project.project_img}}" class="img-fluid" alt="..." />
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        {% include 'includes/footer.html' %}
      </div>

      <div id="bg-graphics">
        <img src="{%static "projectgallery/img/Doodle Dots 3.svg" %}" alt="" class="top-left">
        <img src="{%static "projectgallery/img/Group 16.svg" %}" alt="" class="top-right">
      </div>


<script src="https://kit.fontawesome.com/fecc50ad8e.js" crossorigin="anonymous"></script>
      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      </script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

      <!-- slide image js -->
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="{%static "projectgallery/js/jquery.hislide.js" %}"></script>
      <!-- Hammer.js -->
      <script src='https://hammerjs.github.io/dist/hammer.min.js'></script>
      <!-- Swipe Card Feature -->
      <script src="{%static "projectgallery/js/tinder.js" %}"></script>
      <script src="{%static "projectgallery/js/tinder2.js" %}"></script>
      <script src="{%static "projectgallery/js/tinder3.js" %}"></script>
      <script src="{%static "projectgallery/js/tinder4.js" %}"></script>
      <script src="{%static "projectgallery/js/tinder5.js" %}"></script>
      <script src="{%static "projectgallery/js/tinder6.js" %}"></script>

      <script>
        $('.slide').hiSlide();
      </script>
</body>

</html>