<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <handlers>
            <add name="python3" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python39\python.exe" resourceType="File" />
            <add name="python2" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python39\python.exe %s %s" resourceType="File" />
            <add name="python1" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python39\python.exe" resourceType="File" />
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python39\python.exe %s %s" resourceType="File" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- Required settings -->
    <!--<add key="WSGI_HANDLER" value="C:\inetpub\vhosts\asmv.co.in\httpdocs\Kitchendotcom.wsgi.py" />-->
    <!--<add key="WSGI_HANDLER" value="Kitchendotcom.wsgi_app()" />-->
    <!--<add key="WSGI_HANDLER" value="Kitchendotcom.wsgi.py" />-->
    <!--<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />-->
    <add key="WSGI_HANDLER" value="Kitchendotcom.wsgi.application" />
    <add key="PYTHONPATH" value="C:\inetpub\vhosts\Kitchendotcom.in\httpdocs" />
    <add key="DJANGO_SETTINGS_MODULE" value="Kitchendotcom.settings" />
    <!-- Optional settings -->
	<add key="WSGI_LOG" value="..\logs\my_app.log" />
    <!--<add key="WSGI_LOG" value="C:\Logs\my_app.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
    <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
    <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" />-->
  </appSettings>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\kitchendotcom.in\tmp" />
  </system.web>
</configuration>