{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blogs</title>
  <!-- bootstrap CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <!-- fontawesome icons -->
  <script src="https://kit.fontawesome.com/fecc50ad8e.js" crossorigin="anonymous"></script>
  <!-- custom css -->
  <link rel="stylesheet" href="{%static "common/css/style.css"%}">
  <link rel="stylesheet" href="{%static "blogandnews/css/blogandnews.css"%}">
</head>

<body>
  <div class="px-4">
    {% include 'includes/nav.html' %}
  </div>

  <div class="container" id="post-item">
    <h1 class="text-center">{{blog.title}}</h1>
    <h5 class="text-center text-muted mt-3">{{blog.author|upper}} . 1 day ago</h5>
    <div class="row my-5">
      <div class="d-flex justify-content-center">
        <img class="img-fluid" src="/media/{{blog.image}}" alt="{{blog.title}}">
      </div>
    </div>
    <div class="container content">
      {{blog.content|safe}}

      <div class="d-flex align-items-center justify-content-start">
        <div class="row">
          <a id="like-link" blogId={{blog.id}} class="col-auto disabled" href="{% url 'blog_like' blog.id %}"><i class="far fa-thumbs-up"></i></a>
          <div class="col-auto"><p>{% if blog.likes %} {{blog.likes}} {% endif %}</p></div>
        </div>     
      </div>
	 <!-- Comments section -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">

        <div class="headings d-flex justify-content-between align-items-center mb-3">
          <h5>Comments</h5>
        </div>

        {% for comment in comments %}
        <div class="card p-3 my-2 comment">
          <div class="d-flex justify-content-between align-items-center">
            <span>
              <small class="font-weight-bold text-primary">{{comment.mail}}</small>
              <small class="font-weight-bold">{{comment.comment | safe}}</small></span>
          </div> <small class="text-muted">{{comment.timestamp | timesince}} ago</small>
        </div>
        {% endfor %}

        <form action="{% url 'comments' blog.id %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-auto my-1">
              <input type="text" class="form-control" name="mail" placeholder="enter your mail">
            </div>
          </div>
          <div class="row">
            <div class="col-auto my-1">
              <textarea type="text" class="form-control" name="comment" placeholder="enter your comment"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-auto my-1">
              <input type="submit" class="btn btn-primary styled-btn" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
 

  {% include 'includes/footer.html' %}


  <script src="{%static "common/js/nav.js"%}"></script>
  <script src="{%static "like.js"%}"></script>
</body>

</html>